# VAPID Keys para notificaciones push
VITE_VAPID_PUBLIC_KEY=BIrd465Do_XROvWjZ6ZF6R7kLHRoliesTute7Q7mBEaiwT9TIyaeZMhE_087BtuvDhaUvcIl-Av9L9pXTwEXibg
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key
